.carts{
    width: 80%;
    margin: 50px auto;
}
.carts .cart-product{
    margin-top: 10px;
    border: 1px solid grey;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carts .cart-product img{
    width: 100px;
}
.carts .cart-product button{
    padding: 10px;
    background-color: red;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.total{
    margin-top: 50px;
    background-color: orangered;
    color: #fff;
    padding: 15px;
    position: sticky;
    top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.total h2{
    letter-spacing: 1px;
}
.total span{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;

}

@media screen and (max-width : 480px){
    .carts .cart-product{
        flex-direction: column;
        gap: 40px;
    }
    
}